.gitignore 
#=========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.env/
.env.*

# =========================
# FastAPI / Uvicorn
# =========================
*.log

# =========================
# Database
# =========================
*.sqlite3

# =========================
# VS Code / IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Frontend (Vue)
# =========================
node_modules/
dist/
npm-debug.log*
yarn-error.log*

# =========================
# Build / cache
# =========================
.cache/
pytest_cache/
.mypy_cache/

# =========================
# Others
# =========================
*.env.local


# env
.env
.env.*

